

@font-face {
    font-family: 'Quikhand';
    src: url('quikhand-webfont.woff2') format('woff2'),
         url('quikhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-light-webfont.woff2') format('woff2'),
         url('lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}