

@font-face {
    font-family: 'Quikhand';
    src: url('../fonts/quikhand-webfont.woff2') format('woff2'),
         url('../fonts/quikhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/slato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}